

header {
    background-color: #bf9aca;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0px;
    text-align: center;
    font-size: 42px;
    font-family: 'Indie Flower', cursive;
}

body {
    background-color: #c7e8f3;
    margin: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#canvasDiv {
    display: flex;
    justify-content: center;
    padding: 18px;
}

#buttonsDiv {
    display: flex;
    justify-content: center;
}

#saveButton, #imageLoader {
    background: #bf9aca;
    border: none;
    border-radius: 4px;
    margin: 4px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
}

#saveButton:hover {
    background: #927c99;
}

footer {
    background-color: #bf9aca;
}

footer > p {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}